<div class="container p-4">
    <div class="row">
        {{#each enlaces}}
        <div class="col-md-3">
          <div class="card text-center">
            <div class="card-body">
                <a href="{{url}}" target="_blank">
                    <h3 class="card-title text-uppercase">{{ titulo }}</h3>
                    <p class="m-2">{{descripcion}}</p>
                    <p>{{timeago creado}}</p>
                    <a href="/links/delete/{{id}}" class="btn btn-danger">borrar enlace</a>
                    <a href="/links/edit/{{id}}   " class="btn btn-secondary">Editar</a>
                </a>
            </div>
         </div>
      </div>
      {{else}}
      <div class="col-md-4 mx-auto">
          <div class="card card-body text-center">
              <p>No has guardado ningun enlace aun</p>
              <a href="/links/add">Crea uno ahora!</a>
          </div>
      </div>
      {{/each}}
    </div>
</div>